// адресс в футоре

.address {
    text-align: center;

    &--margin {
        @media screen and (min-width: 768px) and (max-width: 1200px){
            margin-left: 76px;
            margin-bottom: 60px;
        }

    }

    @media screen and (min-width: 1200px){
           text-align: left;
    }
}

.address__link {
    font-style: normal;
    color: var(--light-txt-cl-white);
    text-decoration: none;
    outline: none;

    font-weight: 400;
    font-size: 14px;
    line-height: (24 / 14);

    text-align: center;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);

    &:focus,
    &:hover {
        color: var(--main-bg-cl);
    }
}

.address__link-contact {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    line-height: 1.71;

    display: block;

    font-style: normal;
    color: var(--address__link-text-cl);
    outline: none;
    text-decoration: none;

    transition-property: color;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);

    &__link-contact + &__link-contact {
        display: block;
        margin-bottom: 9px;
    }
    &:hover {
        color: var(--main-bg-cl);
    }


    &:hover,
    &:focus {
        color: var(--main-bg-cl);
        outline: vap(--outline-foc);
    }
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }
}
