// верхнее часть карточки в портфолео
.cards-information {
    position: relative;
    overflow: hidden;
}

.cards-information__img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-bg-cl);
}

.cards-information__contaent {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 101%);

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    width: 450px;
    height: 294px;

    color: var(--light-txt-cl-white);
    background: var(--bg-cards-information-box);

    padding: 77px 24px;
    margin: 0;

    transition-property: transform;
    transition-duration: var(--time-hov-foc);
    transition-timing-function: var(--time-cubic);

    .contaent-cards__list-cards:hover & {
        transform: translate(0, 0);
    }
}

@media screen and (min-width: 768px) {
    .cards-information__contaent {
        width: 354px;
    }
}

@media screen and (min-width: 1200px) {
   

   .cards-information__contaent {
        width: 370px;
    }

    .cards-information__contaent {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;

        width: 370px;
        height: 294px;
    }
}
