// Логотип
.logo {
    color: var(--logo-cl-secondary);

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
    text-align: center;

    &--properties {
        margin-bottom: 20px;
    }

    &--black {
        color: var(--logo-cl-blakc);
    }

    &:focus {
        outline-color: var(--main-bg-cl);
    }

    &--properties {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}
.logo__cl-white {
    color: var(--logo-cl-white);
}
